---
---

<section class="share-thrill">
  <div class="container">
    <h2 class="h2 text-primary share-title">#ComparteLaEmoción</h2>
  </div>
</section>

<style>
  .share-thrill {
    background-color: var(--bg-dark);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .share-title {
    text-align: center;
  }
</style>
